@import "../../gloabal.scss";

.app {
  height: 100vh;
  position: relative;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: $bg;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: center;
    }
  }
  .musicInfo {
    position: absolute;
    left: 15px;
    top: -300px;
    color: $text;
    background-color: $lightpurple;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.5s ease;
    z-index: 5;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .iconContainer {
        cursor: pointer;
        transition: filter 0.55s ease;
        &:hover {
          filter: invert(1);
        }
      }
      h1 {
        color: $sunflower;
        font-size: 20px;
        font-weight: 900;
      }
    }

    h2 {
      color: inherit;
      font-size: 25px;
    }
    &.active {
      top: 10%;
    }
    &:hover {
      padding: 15px;
    }
  }
}
