@import "../../gloabal.scss";
.aboutme {
  display: flex;
  flex: 1;
  background-color: $bg;
  .left {
    flex: 0.28;
    overflow-y: hidden;
    position: relative;
    img {
      float: left;
      position: absolute;
      height: 90%;
      transform: scaleX(-1);
      left: 0;
      bottom: 0;
    }
  }
  .right {
    flex: 0.72;
    overflow-y: hidden;
    .wrapper {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      height: 100vh;
      color: $text;
      h2 {
        font-size: 50px;
      }
    }
  }
}
